<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>



</head>
<body>
<div class="panel panel-primary">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" ng-controller="UserInfoController">
                    <div class="panel-heading">
                        <div class="panel-title">{{name}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">邮箱:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="email" placeholder="推荐使用126邮箱" ng-model="email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">密码:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" placeholder="密码只能是数字、字母、下划线" ng-model="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10"><!--col-sm-offset-2向右偏移2列  长度是10列-->
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="autoLogin"/>自动登录
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../scripts/angular.js"></script>
<script>
    angular.module('app', []);

    angular.module('app').controller('UserInfoController', function($scope) {
        $scope.name = '双向数据绑定';
    })
</script>
</body>
</html>
