@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l0ammh');
  src:  url('fonts/icomoon.eot?l0ammh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l0ammh') format('truetype'),
    url('fonts/icomoon.woff?l0ammh') format('woff'),
    url('fonts/icomoon.svg?l0ammh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e901";
  color: #4d9fff;
}
.icon-up:before {
  content: "\e902";
  color: #d8d8d8;
}
.icon-logo .path1:before {
  content: "\e903";
  color: rgb(0, 186, 255);
}
.icon-logo .path2:before {
  content: "\e904";
  margin-left: -3.099609375em;
  color: rgb(0, 186, 255);
}
.icon-logo .path3:before {
  content: "\e905";
  margin-left: -3.099609375em;
  color: rgb(255, 174, 0);
}
.icon-logo .path4:before {
  content: "\e906";
  margin-left: -3.099609375em;
  color: rgb(78, 77, 77);
}
.icon-logo .path5:before {
  content: "\e907";
  margin-left: -3.099609375em;
  color: rgb(78, 77, 77);
}
.icon-logo .path6:before {
  content: "\e908";
  margin-left: -3.099609375em;
  color: rgb(78, 77, 77);
}
.icon-logo .path7:before {
  content: "\e909";
  margin-left: -3.099609375em;
  color: rgb(78, 77, 77);
}
.icon-backward:before {
  content: "\ea1f";
}
.icon-forward:before {
  content: "\ea20";
}
